.mainContainer {
  margin: 3% 9%;
}

.card {
  width: 100%;
  height: auto;
  padding: 2% 25%;
  background: -webkit-linear-gradient(
    to right,
    rgba(127, 255, 165, 0.151),
    rgba(127, 255, 212, 0.251)
  );
  background: linear-gradient(
    to right,
    rgb(127, 255, 165, 0.151),
    rgba(127, 255, 212, 0.251)
  );
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
