.mainContainer {
    margin: 3% 9%;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.childCont {
    padding : 1% 3%
}

.container2 {
    padding: 1% 3%
}

.wrapperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leftContainer {
    background-color: aquamarine;
    padding: 3%;
}

.rightContainer {
    background-color: rgb(127, 255, 165);
    padding: 3%;
}