.toolsContainer {
  margin: 3% 9%;
}

h2 {
  padding-bottom: 10px;
}

img {
  width: 80%;
  height: auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
