.dropbtn {
  background-color: transparent;
  color: aqua;
  padding: 10px;
  border-radius: 25px;
  border: none;
}

.dropbtn a {
  transition: 0.3s ease-in;
}

.dropbtn a:hover {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.3s ease-in;
}

.dropdownContent ul {
  padding: 0;
  list-style-type: none;
}

.dropdownContent li {
  margin: 0;
}

.dropdownContent li a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in;
}

.dropdownContent li a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
